@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');
@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy');

@font-face {
  font-family: 'Roboto', sans-serif;
  font-family: 'Londrina Sketch', cursive;
}


    ﻿#header{
        padding-bottom: 1vh;
        box-shadow: 5px 2px 4px #333333;
    }

    #textarea{
      margin-top: 80px;
      height: 90vh;
      text-align: center;
      padding-top:10vh;
    }

    #about-section{
      text-align: center;
      background-color: black;
      color:white;
    }

    #project-section {
      width:90vw;
      margin-left:5vw;
    }

    #RWD-section {
      width:90vw;
      margin-left:5vw;
    }

    #head{
        }

    #nav_break{
      height:50px;
    }

    section{
      height:95vh;
      padding-top:8vh;
      padding-bottom:8vh;
      font-family: "Roboto";
    }

    @-webkit-keyframes menuDown {
      0% {top: -50px}
      100% {top: 0px}
    }
    @keyframes menuDown {
      0% {top: -50px}
      100% {top: 0px}
    }

    @-webkit-keyframes menuUp {
      0% {bottom: -50px}
      100% {bottom: 0px}
    }
    @keyframes menuUp {
      0% {bottom: -50px}
      100% {bottom: 0px}
    }

    #nav_bottom.affix {
      -webkit-animation: 1s menuUp ease;
              animation: 1s menuUp ease; /* linear */
      bottom: 0;
        width: 100%;
        z-index: 9998 !important;
        margin-bottom: 0;
    }

    #nav_bottom {
      padding-right: 10px;
      widtg:100%;
    }

    #nav_top.affix {
      -webkit-animation: 1s menuDown ease;
              animation: 1s menuDown ease; /* linear */
      top: 0;
        width: 100%;
        z-index: 9999 !important;
    }

    #quote{
      font-size:80%;
      font-style:italic;
      color:#bbbbbb;
      text-align:center;
      font-family: "Roboto";
      }

    #h1_large {
          font-size:12vw;
          font-weight: bold;
          font-family: "Londrina Sketch";
          text-align:center;
          text-shadow: 5px 2px 4px #DDDDDD;
          text-transform:capitalize;
          margin:0;
          padding-bottom: 0;
      }

      #h1_small {
            margin:0;
            font-size:6vw;
            font-family: "Roboto";
            text-align:center;
            padding-bottom: 0;
            text-decoration: overline;
            text-shadow: 5px 2px 4px #DDDDDD;
        }

    h2 {
        font-variant:small-caps;
        font-family: "Roboto";
    }

    body {
        font-family: "Roboto";
    }

    ul {
        font-style:italic;
        list-style-type:none;
    }

    a{
      color:orange;
    }
